@use "../../styles/base/mixin.scss" as mixins;
@use "../../styles/base/variables.scss" as vars;

// ========== Mobile (default) ==========

.sandbox-wrapper {
  @include mixins.grid-layout();
  @include mixins.container();

  &__title {
    grid-column: 1 / -1;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    margin-top: 4rem;
    gap: 1rem;

    h1 {
      font-size: vars.$font-size-3xl;
    }

    &-highlight {
      color: vars.$text-highlight-primary;
    }
  }

  &__masonry-grid {
    grid-column: 1 / -1;
    /*  전체 그리드 차지 */
    display: flex;
    width: auto;
    margin: 4rem 0 0 -1.25rem;
  }

  &__grid-column {
    padding-left: 1.25rem;
    background-clip: padding-box;

    > * {
      margin-bottom: 2rem;
    }
  }

  // =============== Tablet ===============

  @include mixins.respond-to("md") {
    &__masonry-grid {
      margin-top: 7rem;
    }

    &__title {
      h1 {
        font-size: vars.$font-size-6xl;
      }
    }
  }
}
