@use "../../styles/base/mixin.scss" as mixins;
@use "../../styles/base/variables.scss" as vars;

.sandbox-wrapper {
  @include mixins.grid-layout();
  @include mixins.container();

  &__title {
    margin-top: 4rem;
    display: flex;
    gap: 1rem;
    justify-content: flex-start;
    align-items: center;
    grid-column: 1 / -1;

    h1 {
      font-size: vars.$font-size-3xl;
    }

    &-highlight {
      color: vars.$text-highlight-primary;
    }
  }

  &__masonry-grid {
    margin-top: 4rem;
    grid-column: 1 / -1; // 전체 그리드 차지
    display: flex;
    margin-left: -20px;
    width: auto;
  }

  &__grid-column {
    padding-left: 20px;
    background-clip: padding-box;

    > * {
      margin-bottom: 2rem;
    }
  }

  // Tablet
  @include mixins.respond-to("md") {
    &__masonry-grid {
      margin-top: 7rem;
    }

    &__title {
      h1 {
        font-size: vars.$font-size-6xl;
      }
    }
  }
}
