@use "../../styles/base/mixin.scss" as mixins;
@use "../../styles/base/variables.scss" as vars;

// ========== Mobile (default) ==========

.sandbox-modal {
  z-index: 500;
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  backdrop-filter: blur(3px);
  background-color: rgba(vars.$near-black, 0);
  animation: backdropFadeIn 0.1s ease-out forwards;
  @include mixins.flex-center;

  &__content {
    z-index: 501;
    display: flex;
    flex-direction: column;
    width: 90%;
    max-width: 900px;
    max-height: 80vh;
    margin-top: 2rem;
    border-radius: 10px;
    overflow: hidden;
    background-color: vars.$dark-forest;
    box-shadow: inset 0 0 50px rgba(vars.$near-black, 0.5);
    padding: 1rem;
    margin: 6rem auto 2rem auto;
    filter: drop-shadow(0 10px 20px rgba(vars.$near-black, 0.5));
    /* 아래서 서서히 올라오는 애니메이션 */
    transform: translateY(30vh);
    /* 살짝 아래서 시작 */
    opacity: 0;
    animation: slideUpFade 0.2s cubic-bezier(0.16, 1, 0.3, 1) forwards;
  }

  &__header {
    margin-bottom: 0.5rem;
    @include mixins.flex-between;
  }

  &__links {
    @include mixins.flex-center;
  }

  &__button {
    border-radius: 8px;
    padding: 0.2rem 0.5rem;

    &:hover {
      background-color: rgba(vars.$near-black, 0.8);
    }
  }

  &__close {
    cursor: pointer;
    width: 25px;
    height: 25px;
    fill: vars.$scarlet-red;
    transition: transform 0.2s ease-in-out;

    &:hover {
      transform: rotate(90deg);
    }
  }

  &__body {
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
  }

  &__image {
    position: relative; // carousel 버튼 위치 기준
    width: 100%;
    border-radius: 10px;
    @include mixins.flex-center;
    @include mixins.loading-spinner;
  }

  &__image img,
  &__image video {
    display: block;
    width: auto;
    height: auto;
    max-height: 45vh; // 통일된 높이
    border-radius: 10px;
    object-fit: contain; // 통일 (이미지 잘림 방지)
  }

  &__image video {
    cursor: pointer;

    &::-webkit-media-controls-current-time-display,
    &::-webkit-media-controls-time-remaining-display {
      color: vars.$scarlet-red;
    }
  }

  &__info {
    display: flex;
    flex-direction: column;
    gap: 1rem;
  }

  &__info-left {
    display: flex;
    flex-direction: row;
    gap: 1rem;
  }

  &__info-right {
    color: vars.$text-body-secondary;
  }

  &__title {
    color: vars.$text-heading-secondary;
  }

  &__stack {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    gap: 0.5rem;
  }

  &__tag {
    width: 18px;
  }

  // <---------- carousel  ---------->

  // Navigation Buttons

  &__carousel-nav {
    position: absolute;
    top: 50%;
    width: 2rem;
    height: 2.2rem;
    transform: translateY(-50%);
    border: none;
    border-radius: 8px;
    margin: 5rem auto 2rem auto;
    cursor: pointer;
    transition: all 0.2s ease;
    @include mixins.flex-center;

    &:hover {
      background-color: rgba(vars.$near-black, 0.9);
    }

    &:active {
      transform: translateY(-50%) scale(0.95);
    }

    &--prev {
      left: 0.5rem;
    }

    &--next {
      right: 0.5rem;
    }
  }

  &__carousel-arrow {
    width: 1.3rem;
  }

  // Dots Indicator

  &__carousel-dots {
    display: flex;
    gap: 0.8rem;
    position: absolute;
    top: 1rem;
    right: 0.5rem;
    transform: translateX(-50%);
  }

  &__carousel-dot {
    width: 0.5rem;
    height: 0.5rem;
    border: none;
    background: vars.$muted-olive;
    transform: rotateZ(45deg);
    cursor: pointer;
    transition: all 0.2s ease;

    &:hover {
      transform: scale(1.2);
    }

    &--active {
      background: vars.$scarlet-red;
      transform: rotateZ(45deg) scale(1.2);
    }
  }
}

@keyframes backdropFadeIn {
  to {
    background-color: rgba(vars.$near-black, 0.9);
  }
}

@keyframes slideUpFade {
  0% {
    transform: translateY(30vh);
    opacity: 0;
  }
  50% {
    opacity: 0.7;
  }
  100% {
    transform: translateY(0);
    opacity: 1;
  }
}

// =============== Tablet ===============

@include mixins.respond-to("md") {
  .sandbox-modal {
    &__content {
      margin: 4rem auto 2rem auto;
      padding: 1.5rem 2rem;
    }

    &__header {
      margin-bottom: 1rem;
    }

    &__links {
      gap: 0.2rem;
    }

    &__info {
      flex-direction: row;
    }

    &__info-left {
      flex-direction: column;
      min-width: 20%;
    }

    &__info-right {
      font-size: vars.$font-size-xl;
    }

    &__title {
      font-size: vars.$font-size-xl;
    }

    &__tag {
      width: 25px;
    }

    &__image img {
      max-height: 60vh;
    }

    &__image video {
      max-height: 60vh;
    }

    &__carousel-nav {
      width: 2.8rem;
      height: 3.2rem;
    }

    &__carousel-arrow {
      width: 1.8rem;
    }

    &__carousel-dots {
      top: 2rem;
      right: 1rem;
      gap: 1rem;
    }

    &__carousel-dot {
      width: 0.7rem;
      height: 0.7rem;
    }
  }
}

// =============== Desktop ===============

@include mixins.respond-to("lg") {
  .sandbox-modal {
    &__content {
      margin-top: 4rem;
    }

    &__content--portrait {
      .sandbox-modal__body {
        flex-direction: row;
        align-items: left;
      }

      .sandbox-modal__image {
        flex: 0 0 auto;
        max-width: 60%;
        max-height: 65vh;

        img {
          max-height: 65vh;
        }
      }

      .sandbox-modal__info {
        flex: 1;
        /* 이 요소가 남은공간 모두 차지 */
        flex-direction: column;
        min-width: 0;
      }

      .sandbox-modal__carousel-dots {
        right: 5rem;
      }

      .sandbox-modal__carousel-nav {
        width: 3rem;
        height: 3.4rem;
      }

      .sandbox-modal__carousel-arrow {
        width: 2rem;
      }
    }
  }
}
