@use "../../../styles/base/mixin.scss" as mixins;
@use "../../../styles/base/variables.scss" as vars;

// =============== Desktop ===============

// <---------- Container ---------->

.project-split-view {
  gap: 8rem;
  position: relative;
  @include mixins.flex-center;

  // <---------- Left Preview ---------->

  &__preview {
    aspect-ratio: 5 / 3;
    width: 50%;
    border-radius: 20px;
    user-select: none;
    @include mixins.flex-center;
    @include mixins.surface-glass;
    @include mixins.image-container;

    &-img {
      @include mixins.image-cover;
    }
  }

  // <---------- Right Project List ---------->

  &__list {
    display: flex;
    flex-direction: column;
    height: 100%;
    width: 50%;

    &-heading-wrapper {
      display: flex;
      padding: 1rem 0;
      border-bottom: solid 1px vars.$dusty-rose;
      color: vars.$text-heading-list;
    }

    &-heading {
      font-size: vars.$font-size-4xl;
    }

    &-item {
      display: grid;
      grid-template-columns: 1fr 1fr;
      min-height: 70px;
      align-items: center;
      cursor: pointer;
      gap: 1rem;
      padding: 1rem 0;
      border-bottom: solid 1px vars.$dusty-rose;

      span:nth-child(1) {
        font-weight: vars.$font-weight-medium;
        font-size: vars.$font-size-xl;
        grid-column: 1/2;
        text-align: start;
      }

      span:nth-child(2) {
        grid-column: 2/-1;
        text-align: end;
      }
    }
  }

  &__project-title {
    display: flex;
    align-items: center;
    justify-content: flex-start;
  }

  &__view-link {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    gap: 1rem;
    color: vars.$text-highlight-primary;
    font-weight: 500;
  }

  &__arrow {
    width: 20px;
  }
}
