@use '../../styles/base/mixin.scss' as mixins;
@use '../../styles/base/variables.scss' as vars;

.home-wrapper {
  @include mixins.grid-layout();
  @include mixins.container();
  /* grid-layout에 이미 display:grid가 포함되어 있기 때문에 이미 해당 컨테이너는 그리드 컨테이너이며 그걸 직접 자식들에게 적용하는 용도이다.
즉, 자식 요소들이 각각 자기 내부에서 grid를 쓴다면 해당 컨테이너가 grid일 필요는 없다.*/
}

.hero-text {
  text-align: center;
  grid-column: 1/-1;

  h1 {
    color: vars.$text-primary-accent;
    font-size: vars.$font-size-3xl;
  }

  h2 {
    color: vars.$text-primary-accent;
    font-size: vars.$font-size-xl;
  }

  p {
    margin-top: 2rem;
    font-weight: vars.$font-weight-medium;
  }
}

.arrow-wrapper-top-mobile-only {
  margin: 3rem auto 0 auto;
  grid-column: 1/-1;
}

.arrow-wrapper-top-desktop-only {
display: none;
}

.arrow-wrapper-bottom {
  margin: 3rem auto 0 auto;
  grid-column: 1/-1;
}

.arrow-wrapper-last {
  margin: 1.5rem auto 1rem auto;
  grid-column: 1/-1;
}

// arrow 각각 반응형에서 따로 제어하기위해 className를 따로 주었다.

.faceillustration-wrapper {
  grid-column: 1/-1;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
}

.faceillustration-container{
  width: 90%;
  max-width: 90%;
}

.section-title-who {
  margin: 7rem auto;
  text-align: center;
  grid-column: 2/4;

  h2 {
    @include mixins.section-title-mobile-beige;
    display: flex;
    flex-direction: column;
  }
}

.section-video {
  grid-column: 1/-1;
  overflow: hidden;
  border-radius: 10px;
}

.intro-video{
  width: 100%;
  height: auto;
  object-fit: cover;
}

.section-title-what {
  margin: 7rem auto;
  text-align: center;
  grid-column: 2/4;
  display: flex;
  flex-direction: column;
  gap: 2rem;

  h2 {
    @include mixins.section-title-mobile-beige;
    display: flex;
    flex-direction: column;
  }

  p {
    display: flex;
    flex-direction: column;
    font-weight: vars.$font-weight-medium;
    line-height: vars.$line-height-normal;
    font-size: vars.$font-size-lg;
  }
}

// 2개의 section-title의 현재 css는 같지만 추가 스타일 변경을 대비해 미리 분리함

.placeholder {
  grid-column: 1/-1;
  background-color: black;
  width: 100%;
  height: 200px;
  margin-bottom: 7rem;
}

.recent-work-title{
  grid-column: 1/-1;
  h3{
    @include mixins.flex-center;
    flex-direction: column;
    color: vars.$text-primary-accent;
    font-weight: vars.$font-weight-semibold;
    font-size: vars.$font-size-xl;
    line-height: vars.$line-height-normal;
  }
}


// Tablet
@include mixins.respond-to('md') {
  .hero-text {
    grid-column: 1/4;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-end;

    h1 {
      font-size: vars.$font-size-4xl;
    }

    h2 {
      font-size: vars.$font-size-xl;
    }

    p {
      font-size: vars.$font-size-lg;
    }
  }

  .arrow-wrapper-top-mobile-only {
    display: none;
  }

  .faceillustration-wrapper {
    grid-column: 4/7;
    margin: 5rem 0 2rem 0;
  }
  
  .faceillustration-container{
    width: 100%;
    max-width: 100%;
  }

  .arrow-wrapper-top-desktop-only {
    margin: 0;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    grid-column: 7/9;
  }

  .arrow-wrapper-bottom {
    margin: 0;
    @include mixins.flex-center;
    grid-column: 1/-1;
  }

  .section-title-who {
    width: 100%;
    margin: 10rem auto 5rem auto;
    grid-column: 1/-1;
  
    h2 {
      @include mixins.section-title-tablet-beige;
      display: flex;
      flex-direction: row;
      justify-content: flex-start;
      gap: 1.5rem;
      font-size: vars.$font-size-5xl;
    }
  }

  .section-title-what {
    width: 100%;
    margin: 12rem auto 5rem auto;
    grid-column: 1/-1;
  
    h2 {
      @include mixins.section-title-tablet-beige;
      display: flex;
      flex-direction: row;
      justify-content: flex-end;
      gap: 1.5rem;
      font-size: vars.$font-size-5xl;
    }
  
    p {
      display: flex;
      flex-direction: row;
      gap: 1rem;
      justify-content: flex-end;
      font-size: vars.$font-size-3xl;
    }
  }

  .recent-work-title{
    margin: 10rem 0 0.5rem 0;
    grid-column: 1/-1;
    h3{
      @include mixins.flex-center;
      flex-direction: row;
      gap: 1rem;
      font-size: vars.$font-size-2xl;
    }
  }

  .arrow-wrapper-last {
    margin: 1.5rem auto 5rem auto;
  }
}


// Desktop
@include mixins.respond-to('lg') {
  .hero-text {
    h1{
      text-align: end;
      font-size: vars.$font-size-3xl-large;
    }
    h2 {
      font-size: vars.$font-size-body-large;
    }
    p{
      font-size: vars.$font-size-xl;
    }
  }

  .last-name{
    display: none;
  }

  .faceillustration-wrapper {
    grid-column: 4/10;
    margin: 5rem 0 2rem 0;
  }
  
  .faceillustration-container{
    width: 80%;
    max-width: 80%;
  }

  .arrow-wrapper-top-desktop-only {
    grid-column: 10/13;
  }

  .section-title-who {
    margin: 15rem auto 7rem auto;
  
    h2 {
      gap: 1.8rem;
      font-size: vars.$font-size-7xl;
    }
  }

  .section-title-what {
    margin: 15rem auto 5rem auto;
    gap: 3rem;
  
    h2 {
      gap: 1.8rem;
      font-size: vars.$font-size-7xl;
    }
    p {
      font-size: vars.$font-size-4xl;
    }
}

.recent-work-title{
  h3{
    font-size: vars.$font-size-3xl;
  }
}
}