@use "../../styles/base/mixin.scss" as mixins;
@use "../../styles/base/variables.scss" as vars;

// ========== Mobile (default) ==========

.time-vancouver {
  &__text {
    font-family: vars.$font-clock;
    font-weight: vars.$font-weight-semibold;
    letter-spacing: vars.$letter-spacing-wide-md;
    gap: 0.1rem;
    @include mixins.flex-center;
  }

  &__number {
    color: vars.$text-body-primary;
    font-size: vars.$font-size-2xl;
  }

  &__unit {
    color: vars.$text-body-secondary;
  }

  &__separator {
    color: rgba(vars.$dusty-rose, 0.4);
    margin: 0 0.1rem;
  }
}

// =============== Tablet ===============

@include mixins.respond-to("md") {
  .time-vancouver {
    &__text {
      gap: 0.15rem;
    }

    &__number {
      font-size: vars.$font-size-3xl;
    }

    &__unit {
      font-size: vars.$font-size-xl;
    }

    &__separator {
      margin: 0 0.2rem;
    }
  }
}

// =============== Desktop ===============

@include mixins.respond-to("lg") {
  .time-vancouver {
    &__number {
      font-size: vars.$font-size-4xl;
    }

    &__unit {
      font-size: vars.$font-size-2xl;
    }

    &__separator {
      margin: 0 0.3rem;
    }
  }
}
