@use "../../styles/base/mixin.scss" as mixins;
@use "../../styles/base/variables.scss" as vars;

.time-vancouver {
  &__text {
    font-family: vars.$font-clock;
    font-weight: vars.$font-weight-semibold;
    letter-spacing: 0.9px;
    text-align: center;
  }

  &__number {
    color: vars.$muted-beige;
    font-size: vars.$font-size-2xl;
  }

  &__unit {
    color: vars.$dusty-rose;
    margin-left: 0.5rem;
    font-size: vars.$font-size-base;
  }

  &__separator {
    color: rgba(vars.$dusty-rose, 0.4);
  }
}

// Tablet
@include mixins.respond-to("md") {
  .time-vancouver {
    &__number {
      font-size: vars.$font-size-3xl;
    }

    &__unit {
      font-size: vars.$font-size-xl;
    }
  }
}

// 데스크탑
@include mixins.respond-to("lg") {
  .time-vancouver {
    &__number {
      font-size: vars.$font-size-4xl;
    }

    &__unit {
      font-size: vars.$font-size-2xl;
    }
  }
}
