@use "../../styles/base/mixin.scss" as mixins;
@use "../../styles/base/variables.scss" as vars;

// ========== Mobile (default) ==========

.vancouver-clock {
  @include mixins.flex-center;

  &__container {
    gap: 0.5rem;
    padding: 0.5rem 1rem;
    background-color: vars.$near-black;
    border: solid 0.5px rgba(vars.$dusty-rose, 0.4);
    border-radius: 50px;
    font-size: vars.$font-size-xs;
    font-weight: vars.$font-weight-medium;
    width: 235px;
    @include mixins.flex-center;
  }

  &__place-wrapper {
    @include mixins.flex-center;
  }

  &__icon {
    min-width: 12px;
    margin-right: 1rem;

    svg {
      fill: vars.$scarlet-red;
      animation: spinY 3s ease-in-out infinite;
    }
  }

  &__place {
    justify-content: center;
    @include mixins.flex-column-center;
  }

  &__location {
    color: vars.$text-body-secondary;
  }

  &__divider {
    color: rgba(vars.$dusty-rose, 0.3);
  }

  &__time-wrapper {
    justify-content: center;
    @include mixins.flex-column-center;
  }

  &__time {
    color: vars.$text-highlight-primary;
    letter-spacing: vars.$letter-spacing-wide-md;
  }
}

@keyframes spinY {
  from {
    transform: rotateY(0deg);
  }
  to {
    transform: rotateY(360deg);
  }
}

// =============== Tablet ===============

@include mixins.respond-to("md") {
  .vancouver-clock {
    &__container {
      flex-direction: column;
      width: 180px;
    }

    &__divider {
      display: none;
    }

    &__place,
    &__time-wrapper {
      flex-direction: row;
      gap: 0.3rem;
    }
  }
}

// =============== Desktop ===============

@include mixins.respond-to("lg") {
  .vancouver-clock {
    &__container {
      flex-direction: row;
      gap: 0.9rem;
      padding: 0.6rem 1rem;
      font-size: vars.$font-size-sm;
      width: 275px;
    }

    &__divider {
      display: block;
    }

    &__place,
    &__time-wrapper {
      flex-direction: column;
      letter-spacing: vars.$letter-spacing-wide-sm;
    }
  }
}
