@use '../../styles/base/mixin.scss' as mixins;
@use '../../styles/base/variables.scss' as vars;

.projects-wrapper {
  @include mixins.grid-layout();
  @include mixins.container();
}

.projects-title {
  margin-top: 4rem;
  display: flex;
  gap: 2rem;
  justify-content: flex-start;
  align-items: center;
  grid-column: 1/-1;

  h1 {
    font-size: vars.$font-size-5xl-clamp;

    .projects-title-highlight {
      color: vars.$text-primary-accent;
    }
  }
}

.my-projects-mobile-only {
  margin-top: 3rem;
  grid-column: 1/-1;
}

.my-projects-desktop-only {
  margin-top: 7rem;
  grid-column: 1/-1;
  display: none;
}

// Tablet
@include mixins.respond-to('md') {
  .my-projects-mobile-only {
    margin-top: 4rem;
  }
}


// Desktop
@include mixins.respond-to('lg') {
  .my-projects-mobile-only {
    display: none;
  }

  .my-projects-desktop-only {
    display: block;
  }
}