@use "../../styles/base/mixin.scss" as mixins;
@use "../../styles/base/variables.scss" as vars;

// ========== Mobile (default) ==========

.projects-wrapper {
  @include mixins.grid-layout();
  @include mixins.container();

  &__title {
    grid-column: 1/-1;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    margin-top: 4rem;
    gap: 1rem;
  }

  &__title h1 {
    font-size: vars.$font-size-3xl;
  }

  &__title-highlight {
    color: vars.$text-highlight-primary;
  }

  &__list {
    grid-column: 1/-1;
  }

  &__list--mobile {
    margin-top: 3rem;
  }

  &__list--desktop {
    margin-top: 7rem;
    display: none;
  }
}

// =============== Tablet ===============

@include mixins.respond-to("md") {
  .projects-wrapper {
    &__list--mobile {
      margin-top: 4rem;
    }

    &__title {
      gap: 2rem;
    }

    &__title h1 {
      font-size: vars.$font-size-6xl;
    }
  }
}

// =============== Desktop ===============

@include mixins.respond-to("lg") {
  .projects-wrapper {
    &__list--mobile {
      display: none;
    }

    &__list--desktop {
      display: block;
    }
  }
}
