@use "../../styles/base/mixin.scss" as mixins;
@use "../../styles/base/variables.scss" as vars;

// ========== Mobile (default) ==========

// <---------- Design Project Only ---------->
.work-detail--uxui {
  .work-detail__preview {
    grid-column: 1/-1;

    img {
      @include mixins.image-cover;
    }
  }
}

// <---------- Dev Project + Common ---------->
.work-detail {
  @include mixins.grid-layout();
  @include mixins.container();

  // <---------- Header ---------->

  // Top Navigation //

  &__nav-top {
    grid-column: 1/-1;
    display: flex;
    justify-content: end;
    align-items: center;
    margin: 3rem 0;
    gap: 1.5rem;
  }

  &__nav-link--disabled {
    opacity: 0.2;
    cursor: not-allowed;
    pointer-events: none;
  }

  &__projects-list {
    font-size: vars.$font-size-xl;
    font-weight: vars.$font-weight-medium;
    color: vars.$text-link-highlight;
    transition: all 0.3s ease;

    &:hover {
      color: vars.$scarlet-red-dark;
    }
  }

  &__nav-arrow--top {
    width: 25px;

    svg {
      fill: vars.$arrow-icon-primary;
      transition: all 0.3s ease;
    }

    &:hover svg {
      fill: vars.$scarlet-red-dark;
    }
  }

  // Title //

  &__title {
    grid-column: 1/-1;
    text-align: start;
    font-size: vars.$font-size-6xl;
    line-height: vars.$line-height-xs;
  }

  &__sub-title {
    grid-column: 1/-1;
    text-align: start;
    font-size: vars.$font-size-4xl;
    color: vars.$text-heading-secondary;
    margin-bottom: 2.5rem;
    line-height: vars.$line-height-xs;
  }

  // Links //

  &__links {
    grid-column: 1/-1;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    color: vars.$text-link-primary;
    font-size: vars.$font-size-xl;
    gap: 0.5rem;
    margin-bottom: 1.5rem;
  }

  &__links--more {
    color: vars.$text-link-secondary;
    margin-top: 0.5rem;
  }

  &__links-wrapper {
    display: inline-flex;
    align-items: center;
    gap: 0.5rem;
  }

  &__link {
    @include mixins.hover-underline;
  }

  &__link-arrow svg {
    width: 20px;
  }

  &__link-arrow--more svg {
    fill: vars.$muted-beige;
  }

  // <---------- Contents ---------->

  // Preview //

  &__preview {
    grid-column: 1/-1;
    position: relative;
    height: 100%;
    margin-bottom: 1rem;
    border-radius: 10px;
    overflow: hidden;
    @include mixins.surface-glass;
    @include mixins.loading-spinner;

    video {
      @include mixins.image-cover;
    }
  }

  // Code //

  &__code {
    grid-column: 1/-1;
    margin-top: 1rem;
  }

  // Sections //

  &__sections {
    grid-column: 1/-1;
  }

  &__section {
    margin-top: 2rem;
    border-radius: 20px;
    padding: 2rem 1rem;
    overflow-x: hidden;
    @include mixins.surface-glass;
  }

  &__subsection-heading {
    text-align: start;
    margin-bottom: 1rem;
    @include mixins.section-title-mobile-beige;
  }

  &__section-heading {
    grid-column: 1/-1;
    text-align: start;
    margin: 2rem 0;

    font-size: vars.$font-size-4xl;
    font-weight: vars.$font-weight-semibold;
    line-height: 4rem;
  }

  // Project Overview (Development Only) //

  // Details

  &__section--meta {
    grid-column: 1/-1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: start;
    gap: 1.5rem;
    margin-bottom: 2rem;
  }

  &__meta-item {
    display: flex;
    justify-content: start;
    align-items: center;
    gap: 0.5rem;
  }

  &__meta-item--tech {
    ul {
      display: flex;
      flex-wrap: wrap;
      gap: 0.5rem;
      list-style: none;
      padding: 0;
      margin: 0;

      li {
        background-color: vars.$muted-olive;
        box-shadow: inset 0 0 10px rgba(vars.$near-black, 0.5);
        color: vars.$text-body-secondary;
        padding: 0.3rem 1rem;
        border-radius: 8px;
        font-weight: vars.$font-weight-semibold;
      }
    }
  }

  &__meta-label {
    color: vars.$text-heading-secondary;
    font-weight: vars.$font-weight-medium;
  }

  // Summary

  &__summary-item {
    margin-bottom: 1.5rem;

    &:last-child {
      margin-bottom: 0;
    }

    .work-detail__meta-label {
      display: block;
      margin-bottom: 0.5rem;
    }

    .work-detail__meta-value {
      display: block;
    }
  }

  &__section--summary {
    grid-column: 1/-1;
  }

  &__section--summary {
    grid-column: 1/-1;
  }

  // Tech Stack

  &__tech-list {
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
  }

  &__tech-item {
    .work-detail__meta-label {
      display: block;
      margin-bottom: 0.5rem;
    }

    .work-detail__meta-value {
      display: block;
    }
  }

  // Project Overview (Design Only) //

  &__section--background {
    grid-column: 1/-1;
  }

  &__section--problem {
    grid-column: 1/-1;
  }

  &__section--goal {
    grid-column: 1/-1;
  }

  &__section--solution {
    grid-column: 1/-1;
  }

  //User Flows

  &__section--userflow {
    grid-column: 1/-1;
  }

  // Critical Design Decisions

  &__decision-wrapper {
    display: contents;
  }

  &__section--decision-text {
    grid-column: 1/-1;
  }

  &__section--decision-image {
    grid-column: 1/-1;
  }

  // Design System

  &__section--design {
    grid-column: 1/-1;
    display: flex;
    flex-direction: column;
    gap: 2rem;
  }

  &__design-contents {
    display: flex;
    flex-direction: column;
    flex: 0 0 30%;

    p {
      margin-bottom: 1rem;
    }
  }

  &__design-images {
    display: flex;
    flex-direction: row;
    gap: 1rem;
    border-radius: 20px;
    flex: 0 0 70%;
    overflow-x: auto;
    overflow-y: hidden;
    -webkit-overflow-scrolling: touch;
    scrollbar-width: none;
    cursor: grab;
    scroll-snap-type: x mandatory;
    scroll-behavior: smooth;

    &::-webkit-scrollbar {
      display: none;
    }

    &.active {
      cursor: grabbing;
    }

    img {
      border-radius: 10px;
      width: 75%;
      min-width: 250px;
      flex-shrink: 0;
      user-select: none;
      pointer-events: none;
      scroll-snap-align: start;
      scroll-snap-stop: always;
      border-radius: 20px;
    }

    &--flow img {
      width: 40%;
      min-width: 200px;
    }
  }

  // Development

  &__section--dev ul,
  &__section--challenges ul {
    counter-reset: item-counter;

    li {
      position: relative;
      counter-increment: item-counter;
      padding-left: 1.5rem;

      &::before {
        content: counter(item-counter) ".";
        @include mixins.absolute-fill;
      }
    }
  }

  // Project Architecture

  &__section--architecture {
    grid-column: 1/-1;
    overflow-x: auto;
  }

  &__architecture-image {
    width: 100%;
    height: auto;
    max-width: 100%;
    display: block;
    border-radius: 10px;
    object-fit: contain;
  }

  // Performance & Future
  &__section--performance {
    grid-column: 1/-1;
  }

  &__section--next-steps {
    grid-column: 1/-1;
  }

  // <---------- Bottom Navigation ---------->

  &__nav-bottom {
    grid-column: 1/-1;
    margin-top: 2rem;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    gap: 3rem;
  }

  &__nav-item {
    font-size: vars.$font-size-2xl;
    font-weight: vars.$font-weight-medium;
    color: vars.$text-heading-secondary;
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100%;
  }

  &__nav-item--prev {
    align-items: start;
  }

  &__nav-item--next {
    align-items: end;
  }

  &__nav-item--disabled {
    opacity: 0.3;
    cursor: not-allowed;
    pointer-events: none;
  }

  &__nav-text-wrapper {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    gap: 0.5rem;
  }

  &__nav-text {
    @include mixins.hover-underline;
  }

  &__nav-title {
    font-size: vars.$font-size-4xl;
    color: vars.$dark-forest;
    margin-bottom: 0.5rem;
    text-align: end;
  }

  &__nav-arrow {
    width: 20px;

    svg {
      fill: vars.$arrow-icon-secondary;
    }
  }
}

// =============== Tablet ===============

@include mixins.respond-to("md") {
  .work-detail {
    &__title {
      font-size: vars.$font-size-8xl;
    }

    &__sub-title {
      font-size: vars.$font-size-6xl;
      margin-bottom: 4.5rem;
    }

    &__preview {
      grid-column: 1/5;
    }

    &__code {
      grid-column: 5/9;
      margin-top: 0;
    }

    &__sections {
      margin-top: 2rem;
      @include mixins.grid-layout();
    }

    &__section {
      margin-bottom: 0.2rem;
      padding: 2rem 2rem;
    }

    // Overview
    &__section--meta {
      grid-column: 1/5;
    }

    &__section--summary {
      grid-column: 5/9;
    }

    &__section--background {
      grid-column: 1/5;
    }

    &__section--problem {
      grid-column: 5/9;
    }

    &__section--goal {
      grid-column: 1/5;
    }

    &__section--solution {
      grid-column: 5/9;
    }

    // Critical Design Decisions

    &__section--decision-text {
      grid-column: 1/5;
    }

    &__section--decision-image {
      grid-column: 5/9;
    }

    // Design System

    &__section--design {
      flex-direction: row;
    }

    // Development

    // Tech Overview
    &__section--tech-stack {
      grid-column: 1/5;
    }

    &__section--architectural {
      grid-column: 5/9;
    }

    &__section--architecture {
      grid-column: 1/9;
    }

    // Performance & Future
    &__section--performance {
      grid-column: 1/5;
    }

    &__section--next-steps {
      grid-column: 5/9;
    }

    &__section--dev {
      grid-column: 1/5;
    }

    &__section--challenges {
      grid-column: 5/9;
    }

    &__links--more {
      font-size: vars.$font-size-xl;
      margin-top: 1rem;
    }

    &__nav-bottom {
      margin-top: 2rem;
    }

    &__nav-item {
      font-size: vars.$font-size-3xl;
      flex: 1;
    }

    &__nav-title {
      font-size: vars.$font-size-5xl;
    }

    &__nav-arrow {
      width: 25px;
    }

    &__projects-list {
      font-size: vars.$font-size-2xl;
    }

    &__nav-arrow--top {
      width: 30px;
    }
  }
}

// =============== Desktop ===============

@include mixins.respond-to("lg") {
  .work-detail {
    &__title {
      font-size: vars.$font-size-9xl;
    }

    &__sub-title {
      font-size: vars.$font-size-7xl;
    }

    &__preview {
      grid-column: 1/7;
    }

    &__code {
      grid-column: 7/13;
    }

    &__section {
      padding: 3rem 2.5rem;
      font-size: vars.$font-size-xl;
    }

    // Overview
    &__section--meta {
      grid-column: 1/7;
    }

    &__section--summary {
      grid-column: 7/13;
    }

    &__section--background {
      grid-column: 1/7;
    }

    &__section--problem {
      grid-column: 7/13;
    }

    &__section--goal {
      grid-column: 1/7;
    }

    &__section--solution {
      grid-column: 7/13;
    }

    // Critical Design Decisions

    &__section--decision-text {
      grid-column: 1/8;
    }

    &__section--decision-image {
      grid-column: 8/13;
    }

    // Tech Overview
    &__section--tech-stack {
      grid-column: 1/7;
    }

    &__section--architectural {
      grid-column: 7/13;
    }

    &__section--architecture {
      grid-column: 1/13;
    }

    &__architecture-diagram {
      font-size: vars.$font-size-base;
    }

    // Performance & Future
    &__section--performance {
      grid-column: 1/7;
    }

    &__section--next-steps {
      grid-column: 7/13;
    }

    &__section--overview {
      grid-column: 1/7;
    }

    &__section--stack {
      grid-column: 7/13;
    }

    &__section--dev {
      grid-column: 1/7;
    }

    &__section--challenges {
      grid-column: 7/13;
    }

    &__nav-item {
      font-size: vars.$font-size-4xl;
    }

    &__nav-title {
      font-size: vars.$font-size-6xl;
    }

    &__nav-arrow {
      width: 30px;
    }
  }
}
