@use "../../styles/base/mixin.scss" as mixins;
@use "../../styles/base/variables.scss" as vars;

.work-detail {
  @include mixins.grid-layout();
  @include mixins.container();

  // Top Navigation
  &__nav-top {
    margin-top: 3rem;
    margin-bottom: 3rem;
    grid-column: 1/-1;
    display: flex;
    justify-content: end;
    align-items: center;
    gap: 1.5rem;
  }

  &__nav-link--disabled {
    opacity: 0.2;
    cursor: not-allowed;
    pointer-events: none;
  }

  &__projects-list {
    font-size: vars.$font-size-xl;
    color: vars.$scarlet-red;
    transition: all 0.3s ease;

    &:hover {
      color: vars.$scarlet-red-dark;
    }
  }

  &__nav-arrow--top {
    width: 25px;

    svg {
      fill: vars.$scarlet-red;
      transition: all 0.3s ease;
    }

    &:hover svg {
      fill: vars.$scarlet-red-dark;
    }
  }

  // Title
  &__title {
    grid-column: 1/-1;
    text-align: start;
    font-size: vars.$font-size-6xl;
    margin-bottom: 2rem;
  }

  // Links
  &__links {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    gap: 0.5rem;
    grid-column: 1/-1;
    margin-bottom: 1.5rem;
    color: vars.$text-heading-secondary;
    font-size: vars.$font-size-xl;
  }

  &__links--more {
    color: vars.$muted-beige;
    font-size: vars.$font-size-base;
    margin-top: 0.5rem;
  }

  &__links-wrapper {
    display: inline-flex;
    align-items: center;
    gap: 0.5rem;
  }

  &__link {
    @include mixins.hover-underline;
  }

  &__link-arrow svg {
    width: 20px;
  }

  &__link-arrow--more svg {
    fill: vars.$muted-beige;
  }

  // Preview
  &__preview {
    height: 100%;
    grid-column: 1/-1;
    margin-bottom: 1rem;
    border-radius: 10px;
    overflow: hidden;
    position: relative;
    backdrop-filter: blur(5px);
    box-shadow: inset 0 0 50px rgba(vars.$dark-forest, 0.3);
    background: rgba(vars.$dark-forest, 0.01);
    cursor: pointer;
    @include mixins.loading-spinner;

    video {
      width: 100%;
      height: 100%;
      object-fit: cover;
    }

    &:hover::before {
      content: "Live Demo";
      position: absolute;
      width: 100%;
      height: 100%;
      display: flex;
      justify-content: center;
      align-items: center;
      background-color: rgba(vars.$near-black, 0.9);
      backdrop-filter: blur(5px);
      color: vars.$scarlet-red;
      font-size: vars.$font-size-2xl;
    }
  }

  // Code
  &__code {
    grid-column: 1/-1;
    margin-top: 1rem;
  }

  // Sections
  &__sections {
    grid-column: 1/-1;
  }

  &__section {
    margin-top: 2rem;
    border-radius: 20px;
    backdrop-filter: blur(5px);
    box-shadow: inset 0 0 50px rgba(vars.$near-black, 0.5);
    background: rgba(vars.$dark-forest, 0.01);
    padding: 2rem 1rem;
    line-height: vars.$line-height-normal;
  }

  &__section-heading {
    text-align: start;
    margin-bottom: 1rem;
    @include mixins.section-title-mobile-beige;
    line-height: vars.$line-height-sm;
  }

  &__section--stack ul {
    display: flex;
    flex-wrap: wrap;
    gap: 0.5rem;

    li {
      background-color: vars.$muted-olive;
      box-shadow: inset 0 0 10px rgba(vars.$near-black, 0.5);
      color: vars.$dusty-rose;
      padding: 0.5rem 1.5rem;
      border-radius: 10px;
      font-weight: vars.$font-weight-semibold;
    }
  }

  &__section--design {
    display: flex;
    flex-direction: column;
    gap: 2rem;
  }

  &__design-contents {
    display: flex;
    flex-direction: column;

    p {
      margin-bottom: 1rem;
    }
  }

  &__design-images {
    display: flex;
    flex-direction: column;
    gap: 1rem;

    img {
      width: 100%;
      height: auto;
      object-fit: cover;
      border-radius: 10px;
    }
  }

  &__section--dev ul,
  &__section--challenges ul {
    counter-reset: item-counter;

    li {
      position: relative;
      counter-increment: item-counter;
      padding-left: 1.5rem;

      &::before {
        content: counter(item-counter) ".";
        position: absolute;
        left: 0;
        top: 0;
      }
    }
  }

  // Bottom Navigation
  &__nav-bottom {
    margin-top: 2rem;
    grid-column: 1/-1;
    display: flex;
    flex-wrap: wrap;
    gap: 3rem;
    justify-content: space-between;
  }

  &__nav-item {
    font-size: vars.$font-size-2xl;
    font-weight: vars.$font-weight-medium;
    color: vars.$text-heading-secondary;
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100%;
  }

  &__nav-item--prev {
    align-items: start;
  }

  &__nav-item--next {
    align-items: end;
  }

  &__nav-item--disabled {
    opacity: 0.3;
    cursor: not-allowed;
    pointer-events: none;
  }

  &__nav-text-wrapper {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    gap: 0.5rem;
  }

  &__nav-text {
    @include mixins.hover-underline;
  }

  &__nav-title {
    font-size: vars.$font-size-4xl;
    color: vars.$text-heading-nav;
    margin-bottom: 0.5rem;
  }

  &__nav-arrow {
    width: 20px;

    svg {
      fill: vars.$text-heading-secondary;
    }
  }
}

// Tablet
@include mixins.respond-to("md") {
  .work-detail {
    &__title {
      font-size: vars.$font-size-8xl;
    }

    &__preview {
      grid-column: 1/5;
    }

    &__code {
      grid-column: 5/9;
      margin-top: 0;
    }

    &__sections {
      @include mixins.grid-layout();
      margin-top: 2rem;
    }

    &__section {
      margin-bottom: 0.2rem;
      padding: 2rem 2rem;
    }

    &__section--overview {
      grid-column: 1/5;
    }

    &__section--stack {
      grid-column: 5/9;
    }

    &__section--design {
      grid-column: 1/-1;
      flex-direction: row;
    }

    &__design-images {
      flex-direction: row;
      overflow-x: auto;
      overflow-y: hidden;
      -webkit-overflow-scrolling: touch;
      scrollbar-width: none;
      cursor: grab;
      scroll-snap-type: x mandatory;
      scroll-behavior: smooth;

      &::-webkit-scrollbar {
        display: none;
      }

      &.active {
        cursor: grabbing;
      }

      img {
        width: 75%;
        min-width: 250px;
        flex-shrink: 0;
        user-select: none;
        pointer-events: none;
        scroll-snap-align: start;
        scroll-snap-stop: always;
      }
    }

    &__section--dev {
      grid-column: 1/5;
    }

    &__section--challenges {
      grid-column: 5/9;
    }

    &__links--more {
      font-size: vars.$font-size-xl;
      margin-top: 1rem;
    }

    &__nav-bottom {
      margin-top: 2rem;
    }

    &__nav-item {
      font-size: vars.$font-size-3xl;
      flex: 1;
    }

    &__nav-title {
      font-size: vars.$font-size-5xl;
    }

    &__nav-arrow {
      width: 25px;
    }

    &__projects-list {
      font-size: vars.$font-size-2xl;
    }

    &__nav-arrow--top {
      width: 30px;
    }
  }
}

// Desktop
@include mixins.respond-to("lg") {
  .work-detail {
    &__title {
      font-size: vars.$font-size-9xl;
    }

    &__preview {
      grid-column: 1/7;
    }

    &__code {
      grid-column: 7/13;
    }

    &__section {
      padding: 3rem 2.5rem;
      font-size: vars.$font-size-xl;
    }

    &__section--overview {
      grid-column: 1/7;
    }

    &__section--stack {
      grid-column: 7/13;
    }

    &__section--dev {
      grid-column: 1/7;
    }

    &__section--challenges {
      grid-column: 7/13;
    }

    &__nav-item {
      font-size: vars.$font-size-4xl;
    }

    &__nav-title {
      font-size: vars.$font-size-6xl;
    }

    &__nav-arrow {
      width: 30px;
    }
  }
}
