@use "../../../styles/base/variables.scss" as vars;
@use "../../../styles/base/mixin.scss" as mixins;

// ========== Mobile (default) ==========

.code-block .hljs {
  background-color: vars.$near-black;
  height: 300px;
  white-space: pre-wrap;
  /* 줄바꿈, 공백유지 */
  word-break: break-word;
  /* 긴 단어도 줄바꿈 가능하게 */
  font-family: vars.$font-code;
}

.code-block {
  background-color: vars.$near-black;
  overflow: hidden;
  border-radius: 10px;

  &__tabs {
    scroll-behavior: smooth;
    display: flex;
    overflow-x: auto;
    overflow-y: hidden;
    -webkit-overflow-scrolling: touch;
    /* iOS에서 부드러운 스크롤 */
    scrollbar-width: none;
    /* Firefox 스크롤바 숨김 */

    &::-webkit-scrollbar {
      display: none;
      /* Chrome/Safari 스크롤바 숨김 */
    }
  }

  &__tab {
    color: vars.$text-heading-primary;
    font-weight: vars.$font-weight-medium;
    min-width: 105px;
    flex-shrink: 0;
    /* 탭이 줄어들지 않도록 */
    padding: 0.3rem 0;
    border-radius: 10px 10px 0 0;
    background-color: rgba(vars.$muted-olive, 0.3);
    text-align: center;
    font-size: vars.$font-size-sm;
    white-space: nowrap;
    /* 탭 텍스트 줄바꿈 방지 */

    &--active {
      color: vars.$near-black;
      font-weight: vars.$font-weight-semibold;
      background-color: vars.$scarlet-red;
    }
  }

  &__content {
    &--highlighting {
      visibility: hidden;
      padding: 0.5rem;
    }
  }
}

// =============== Tablet ===============

@include mixins.respond-to("md") {
  .hljs {
    height: 250px;
  }
}

// =============== Desktop ===============

@include mixins.respond-to("lg") {
  .hljs {
    height: 400px;
  }

  .code-block {
    &__preview {
      max-height: 477px;
    }

    &__tab {
      min-width: 130px;
      font-size: vars.$font-size-base;
    }
  }
}
