@use "../../../styles/base/mixin.scss" as mixins;
@use "../../../styles/base/variables.scss" as vars;

.scroll-to-top {
  @include mixins.flex-center;
  position: fixed;
  bottom: 2rem;
  right: 2rem;
  width: 45px;
  height: 45px;
  border-radius: 50%;
  background-color: vars.$near-black;
  color: vars.$text-light-bg;
  border: none;
  cursor: pointer;
  opacity: 0;
  visibility: hidden;
  transition: all 0.1s ease; // 부드러운 등장/사라짐
  z-index: 600;

  &:hover {
    transform: translateY(-5px);
  }
}

.scroll-to-top__arrow {
  width: 25px;
}

.scroll-to-top--visible {
  opacity: 1;
  visibility: visible;
}

// Tablet
@include mixins.respond-to("md") {
  .scroll-to-top {
    @include mixins.flex-center;
    width: 50px;
    height: 50px;
  }
}

// 1400px 이상 화면에서
@include mixins.respond-to("xxl") {
  .scroll-to-top {
    right: calc((100vw - 1400px) / 2 + 2rem);
  }
}
