@use "../../styles/base/mixin.scss" as mixins;
@use "../../styles/base/variables.scss" as vars;

.notfound {
  width: 100%;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 2rem;
  background: vars.$near-black;

  &__image {
    width: 200px;
    height: auto;
  }

  &__text {
    font-size: vars.$font-size-base;
    font-weight: vars.$font-weight-medium;
    color: vars.$muted-beige;
    width: 70%;
    text-align: center;
  }

  &__link {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1rem;
    font-size: vars.$font-size-xl;
    color: vars.$scarlet-red;
    @include mixins.hover-underline;
  }
}

// Tablet
@include mixins.respond-to("md") {
  .notfound {
    &__image {
      width: 400px;
    }

    &__text {
      font-size: vars.$font-size-xl;
    }
  }
}

// Desktop
@include mixins.respond-to("lg") {
  .notfound {
    &__image {
      width: 700px;
    }
  }
}
