@use "../../styles/base/mixin.scss" as mixins;
@use "../../styles/base/variables.scss" as vars;

// ========== Mobile (default) ==========

.notfound {
  width: 100%;
  height: 100vh;
  gap: 2rem;
  background: vars.$near-black;
  justify-content: center;
  @include mixins.flex-column-center;

  &__image {
    width: 200px;
    height: auto;
  }

  &__text {
    font-weight: vars.$font-weight-medium;
    color: vars.$text-body-primary;
    width: 70%;
    text-align: center;
  }

  &__link {
    gap: 1rem;
    font-size: vars.$font-size-xl;
    color: vars.$text-link-highlight;
    justify-content: center;
    @include mixins.flex-column-center;
    @include mixins.hover-underline;
  }
}

// =============== Tablet ===============

@include mixins.respond-to("md") {
  .notfound {
    &__image {
      width: 400px;
    }

    &__text {
      font-size: vars.$font-size-xl;
    }
  }
}

// =============== Desktop ===============

@include mixins.respond-to("lg") {
  .notfound {
    &__image {
      width: 700px;
    }
  }
}
