@use "../../styles/base/variables.scss" as vars;
@use "../../styles/base/mixin.scss" as mixins;

// ========== Mobile (default) ==========

.footer-navigation {
  display: flex;
  flex-direction: row;
  color: vars.$text-footer;
  font-weight: vars.$font-weight-medium;
  gap: 2rem;

  &__link {
    @include mixins.hover-underline;

    &--highlight {
      color: vars.$text-link-secondary;
      text-align: left;
      @include mixins.hover-underline;
    }
  }

  &__col {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 0.6rem;
  }
}

// =============== Tablet ===============

@include mixins.respond-to("md") {
  .footer-navigation {
    margin-bottom: 0rem;
    gap: 3rem;
    font-size: vars.$font-size-xl;

    &__col {
      display: flex;
      flex-direction: row;
      gap: 3rem;
    }
  }
}

// =============== Desktop ===============

@include mixins.respond-to("lg") {
  .footer-navigation {
    margin-bottom: 0rem;
    gap: 3rem;

    &__col {
      display: flex;
      flex-direction: row;
      gap: 3rem;
    }
  }
}
