@use "../../styles/base/variables.scss" as vars;
@use "../../styles/base/mixin.scss" as mixins;

.footer-navigation {
  display: flex;
  flex-direction: row;
  color: vars.$footer-text-primary;
  font-weight: vars.$font-weight-medium;

  //디폴트
  gap: 2rem;
}

.footer-navigation__link {
  @include mixins.hover-underline;
}

.footer-navigation__link--highlight {
  color: vars.$footer-text-alt;
  @include mixins.hover-underline;
  text-align: left;
}

.footer-navigation__col {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 0.8rem;
}

// 테블릿
@include mixins.respond-to("md") {
  .footer-navigation {
    margin-bottom: 0rem;
    gap: 3rem;
    font-size: vars.$font-size-xl;
  }

  .footer-navigation__col {
    display: flex;
    flex-direction: row;
    gap: 3rem;
  }
}

// 데스크탑
@include mixins.respond-to("lg") {
  .footer-navigation {
    margin-bottom: 0rem;
    gap: 3rem;
  }

  .footer-navigation__col {
    display: flex;
    flex-direction: row;
    gap: 3rem;
  }
}
