@use '../../styles/base/variables.scss' as vars;
@use '../../styles/base/mixin.scss' as mixins;

footer {
  width: 100%;
  color: vars.$footer-text-primary;
  z-index: 1; // 배경 애니메이션 앞으로 오기 위함
}

.footer-wrapper {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  @include mixins.container();
}

.social-icon-wrapper {
  display: flex;
  justify-content: flex-end;
  gap: 0.8rem;

  .social-icon {
    @include mixins.social-icon;
    color: vars.$dark-forest;
  }
}

.footer-text {
  margin-bottom: 1rem;

  .footer-title {
    font-size: vars.$font-size-2xl;
    font-weight: vars.$font-weight-semibold;
  }

  .footer-sub {
    margin-top: 0.5rem;
    font-size: vars.$font-size-lg;
    font-weight: vars.$font-weight-medium;
  }
}

.footer-divider {
  height: 1px;
  background-color: vars.$dark-forest;
}

.footer-link {
  display: flex;
  gap: 2rem;
  justify-content: space-between;
}

.email-address {
  display: none;
}

.footer-copy {
  display: none;
}

.footer-logo {
  display: inline-block;
  background-image: url(../../assets/logos/footer-logo.svg);
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
  width: 100%;
  height: 90px;
}

@include mixins.respond-to('md') {
  .footer-wrapper {
    .email-address {
      display: inline-block;
      width: fit-content;
      text-align: left;
      margin-top: 3rem;
      font-size: vars.$font-size-lg;

      &:hover {
        color: vars.$muted-beige;
      }
    }

    .footer-title {
      font-size: vars.$font-size-3xl;
    }
  
    .footer-text .footer-sub {
      font-size: vars.$font-size-2xl;
      margin-top: 1rem;
    }

    .footer-icons svg {
      width: 32px;
      height: 32px;
    }

    .footer-divider {
      margin-bottom: 1.5rem;
    }

    .footer-copy {
      display: block;
      margin-bottom: 5rem;
      font-size: vars.$font-size-lg;
    }
  }

  .footer-logo {
    height: 150px;
  }
}

@include mixins.respond-to('lg') {
  
  .footer-text .footer-sub {
    margin-top: 1rem;
  }

  .footer-icons svg {
    width: 36px;
    height: 36px;
  }

  .footer-copy {
    display: block;
    margin-bottom: 6rem;
  }

  .footer-logo {
    height: 260px;
  }
}