@use '../../styles/base/variables.scss' as *;

footer {
  width: 100%;

  .footer-content {
    max-width: 1400px;
    // padding: 1rem;
    display: flex;
    flex-direction: column;
  }

  .footer-icons svg {
    width: 24px;
    height: 24px;
  }

  .footer-logo{
    color: $footer-nav-text-primary;
    font-size: $font-size-extra;
  }
}