@use '../../styles/base/variables.scss' as *;

.menu-navigation-header {
  display: flex;
  gap: 2rem;
  align-items: center;

  ul {
    display: flex;
    gap: 2rem;

    li a {
      color: $nav-text-desktop;
      font-weight: $font-weight-medium;
    }
  }

  .menu-icons-header {
    display: flex;
    gap: 1rem;
    align-items: center;
  }

  svg {
    width: 24px;
    height: 24px;
    fill: $scarlet-red;
  }
}