@use '../../styles/base/variables.scss' as *;

header {
  width: 100%;
  position: fixed;
  top: 0; // fixed 관련 위치명시
  left: 0; // fixed 관련 위치명시
  z-index: 100; // 다른 요소들보다 위에 오도록 표시
  background: rgba(4, 4, 4, 0.1);
  backdrop-filter: blur(7px);

  .header-content {
    max-width: 1400px;
    margin: 0 auto; //가운데 정렬
    padding: 1rem;
    display: flex;
    align-items: center;
    justify-content: space-between;

    .logo-header {
      font-size: $font-size-xl;
      color: $logo-color-header;
      font-family: $logo-font-family;
      font-weight: $logo-font-weight;
    }
  }
}